
:root {
   /* COLORS */
   --rich-black: hsla(195, 100%, 6%, 1);
   --rich-black-highlight: hsla(195, 100%, 10%, 1);

   --tokyo-black: hsla(252, 23%, 9%, 1);
   --tokyo-black-contrast-med: hsla(252, 23%, 6%, 1);
   --tokyo-black-contrast-high: hsla(252, 23%, 2%, 1);
   --tokyo-black-highlight: hsla(252, 23%, 15%, 1);

   --ivory: hsla(61, 94%, 97%, 1);
   --ivory-contrast-med: hsla(61, 92%, 98%, 1);
   --ivory-contrast-high: hsla(61, 71%, 99%, 1);
   --ivory-muted: hsla(61, 4%, 90%, 1);

   --yellow: hsla(61, 94%, 70%, 1);
   --cerulean: hsla(195, 100%, 66%, 1);
   --cerulean-contrast-high: hsla(198, 100%, 40%, 1);
   --cerulean-darker: hsla(195, 100%, 42%, 1);
   --light-red: hsla(9, 100%, 64%, 1);
   --light-red-contrast-med: hsla(7, 60%, 1);
   --light-red-contrast-high: hsla(9, 100%, 56%, 1);
   --light-red-muted: hsla(358, 99%, 50%, 1);

   --bg: var(--rich-black);
   --bg-highlight: var(--rich-black-highlight);
   --fg: var(--ivory);
   --fg-muted: var(--ivory-muted);
   --link: var(--ivory-highlight);
   --hover: var(--cerulean);
   --accent: var(--yellow);
   --callout: var(--yellow);
   --link-accent: var(--light-red);
   --link-accent-hover: var(--cerulean);
   --focus: var(--link-accent);

   /* SIZES */
   --size-300: 0.75rem;
   --size-400: 1rem;
   --size-500: 1.33rem;
   --size-600: 1.77rem;
   --size-700: 2.36rem;
   --size-800: 3.15rem;
   --size-900: 4.2rem;

   /* Code block line number start */
   --line-start: 0;

  /* Body Widths */
   --body-xs: 45rem;
   --body-s: 50rem;
   --body-m: 60rem;
   --body-l: 70rem;
   --body-xl: 80rem;

  /* Theme Icons */
   --icon-sun: url('/images/Sun_Light.svg');
   --icon-moon: url('/images/Moon_Dark.svg');

  /* Default Color Switcher Icons */
   --switcher-icon: var(--icon-sun);
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: var(--bg);
  color: var(--fg);
  scroll-behavior: smooth;
}

body {
   font-family: "Atkinson Hyperlegible";
   line-height: 1.5;
   padding: 0;
   margin: 0;
   transition: background-color 0.3s ease-out;
   scroll-behavior: smooth;
   min-height: 100vh;
   /* display: grid; */
   /* grid-template-rows: auto 1fr auto; */
   /* grid-template-areas:  */
   /*  "header" */
   /*  "main" */
   /*  "footer"; */
   /* align-items: space-between; */
}

main {
   height: 100%;
   min-height: 100%;
   margin-bottom: var(--size-900);
   /* grid-area: main; */
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

.content {
  width: 100%;
  min-height: 100%;
  background-color: var(--bg);
  color: var(--fg);
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

/* Hide Content */
  .visible-hidden {
    clip: rect(1px 1px 1px 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .visible-hidden:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
  }

  #skip {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease-out;
    font-size: var(--size-500);
    font-family: 'Noto Sans', system-ui, sans-serif;
    font-weight: 500;
    padding: 0.125em 0.25em;
    background: var(--bg);
  }

  #skip:focus {
    transform: translate(-50%, 2rem);
  }

a {
   color: var(--link);
   outline-color: transparent;
   outline-width: 0.125em;
   text-decoration: underline;
   text-underline-offset: 0.125em;
   text-decoration-thickness: 2px;
   transition: color 0.3s ease-out, background-color 0.3s ease-out, outline-color 0.3s ease-out;
   display: inline-block;
   padding: 0.125em;
}

[href]:hover {
   color: var(--hover);
   text-decoration: none;
   background: none;
}

:focus {
   outline: 0.125rem solid var(--cerulean);
   outline-offset: 0.125em;
}

a:focus {
  text-decoration: none;
  color: currentColor;
}

main:focus, body:focus {
   outline: 0px solid transparent;
   background-color: var(--bg);
}

.page-title {
  letter-spacing: 0.125em;
  font-size: var(--size-600);
  font-weight: 500;
  color: var(--hover);
  padding: 0.25em 0;
}

h1,
h2,
h3,
h4 {
   line-height: 1.3;
   color: var(--link);
   font-family: 'Noto Sans', system-ui, sans-serif;
   position: relative;
}

h1,
h2 {
   font-weight: 600;
}

h3 {
  font-weight: 500;
}

h1 {
   font-size: var(--size-700);
}

h2 {
   font-size: var(--size-600);
}

h3 {
   font-size: var(--size-600);
}

pre {
  padding: 1rem;
}

.shiki {
   font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: var(--size-400);
  counter-reset: step;
  counter-increment: step calc(var(--start, 1) - 1);
  background-color: var(--tokyo-black);
  overflow-x: auto;
  max-width: min(var(--body-s), 100%);
  display: block;
  margin: 0 auto;
}

code:not(pre>code){
  background-color: var(--bg-highlight);
  display: inline-block;
  padding: 0 0.25em;
  /* color: var(--hover); */
}

code .highlight-line {
  background-color: var(--tokyo-black-highlight);
  display: inline-block;
  width: 100%;
}

code .line::before {
  display: inline-block;
  content: counter(step);
  counter-increment: step;
  width: var(--size-500);
  padding-right: 0.5em;
  margin-right: var(--size-600);
  text-align: right;
  font-variant-numeric: tabular-nums;
  color: var(--fg-muted);
}

code .highlight-line::before {
  color: var(--fg);
}

img,
video,
iframe {
   max-width: min(55rem, 100%);
   block-size: auto;
   object-fit: contain;
   max-inline-size: 100%;
}

.post img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

figcaption {
  font-size: var(--size-300);
  font-style: italic;
  margin-top: 1rem;
}

blockquote {
  padding-left: var(--size-600);
  border-left: 5px solid;
  font-style: italic;
}

::selection {
  color: var(--bg);
  background: var(--fg);
}

.flow>*+* {
  margin-top: var(--flow-space, 1em);
}

p,
li {
  max-width: 65ch;
}

h1 {
   max-width: 20ch;
}

h2,
h3 {
   max-width: 30ch;
}

header,
main,
.footer-inner {
  /* width: var(--body-l); */
  margin: auto;
  padding: 1rem;
}

.post {
   --flow-space: var(--size-700);

   width: 90vw;
   width: clamp(16rem, 90vw, var(--body-s));
   margin-left: auto;
   margin-right: auto;
}

.post time {
   --flow-space: var(--size-400);
   display: block;
   font-size: var(--500);
}

time:not(class) {
  font-size: var(--size-400);
}

.post :is(h2, h3) {
   --flow-space: var(--size-900);
}

.post :is(h2, h3)+* {
   --flow-space: var(--size-400);
}

.post figure {
   margin-inline: 0;
}

.post figure,
.post figure+* {
   --flow-space: var(--size-900);
}


/* @media(prefers-color-scheme:light) { */
/*   :root { */
/*     --switcher-icon: var(--icon-moon); */
/*   } */
/**/
/*   html, body, .content { */
/*     --bg: var(--ivory-contrast-med); */
/*     --bg-highlight: var(--ivory-muted); */
/*     --fg: var(--tokyo-black-contrast-high); */
/*     --accent: var(--light-red-contrast-high); */
/*     --hover: var(--cerulean-contrast-high); */
/*   } */
/* } */


@media(prefers-color-scheme: dark) {
  :root {
    --switcher-icon: var(--icon-sun);
  }

  html, body, .content{
    --bg: var(--rich-black);
    --fg: var(--ivory);
    --accent: var(--yellow);
    --hover: var(--cerulean);
  }
}

@media (min-width: 50rem) {
   h1 {
      font-size: var(--size-700);
   }

   h2 {
      font-size: var(--size-600);
   }

   h3 {
     font-size: var(--size-600);
   }

   p,
   li{
      font-size: var(--size-500);
   }

   figcaption {
      font-size: var(--size-400);
   }

   blockquote p {
      font-size: var(--size-600);
      max-width: 40ch;
   }

   .post time {
      font-size: var(--size-400);
   }

   .post {
     --flow-space: var(--size-800);
   }

   .shiki {
     font-size: var(--size-500);
   }
   main {
     margin-bottom: var(--size-900);
   }
   header,
   main,
   .footer-inner {
      width: min(var(--body-l), 90vw);
   }
}
